<html>
	<head>
		<title>Stéphanie's blog</title>
	</head>

	<body>
	<div>
		<h1>CAKE TIME  <h1><a href="http://ashorth.pythonanywhere.com/">Yummy Yummy</a></h1></h1>
		<h2>Soon we will be eating some cake</h2>
	
	</div>

	
{% for post in posts %}
     <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
	

<p><em>ladida</em></p>
	<p>Hi there!</p>
	<p>It works!</p>
	</body>
</html>